.toolbar-button-node {
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 1px;

    && .button-node {
        width: 100%;
        background-color: whitesmoke;
        border: none;
        border-radius: 10px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        color: black;
        font-weight: bold;

        && div {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    && .button-node:hover {
        cursor: pointer;
        background-color: lightgray;
    }
}

.div-node {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    && .div-node-content {
        color: white;
    }
}